*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}


.teddy-bear-img-header{
    background-image: url('images/teddy_bear_2.avif');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}


.toys-header-container{
   
    display: flex;
    flex-direction: column;
  
    position:relative;
    z-index:1000;

}
.white-shade-toy-header{
    background-color: whitesmoke;
    opacity:0.6;
    display: flex;
    padding:15px 20px;
}
.call{
    padding-right:40px;
}
.white-shade-toy-header i{
    color:#e8496f;
    padding-right:10px;

}

.white-shade-toy-header a{
    text-decoration: none;
    color:#524c48;
}

.bg-black-header{
    background-color: black;
    color:white;
    display:flex;
    
    position: relative;
    z-index:1;
   
    align-items: center;
    padding:20px 40px;
}
.toy-text-header{
    font-size: 40px;
    font-weight: 300;
    margin-right: 100px;
}
.search_header{
    margin-left:50px;
    padding:10px 120px;
    border-radius: 20px 0 0 20px;
   align-items: left;
    border:none;
}


.search-btn-header{
    padding:9px 20px;
    background-color: black;
    color:white;
    border:1px solid white;
    margin-right:50px;
}

.love-icon-header,.wishlist-icon-header{
    margin-right:15px;
    padding:8px;
    border:1px solid #e8496f;

}
.love-icon-header,.wishlist-icon-header i{
    color:#e8496f;
}

.nav-btns {
    display:flex;
   
    /* justify-content: center; */
    /* align-items: center; */

    padding:25px 10%;
    background-color: whitesmoke;
    opacity:0.6;
    /* margin-bottom:150px; */
    
    
    
}

.nav-btns ul {
    
 
    list-style-type: none;
  
}

.nav-btns a {
    
    text-decoration: none;   
    color:#524c48;
    text-transform: uppercase;
    padding-left:80px;
    font-size: 16px;
    font-weight: bold;
    
   
    
}


.nav-btns ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

   
    
    
}

.text-bold-header{
    color:white;
    text-align: center;
    font-size: 40px;
    

}


.banner {
    position: relative;
    z-index: 1; 
    margin-top: -25%;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 110vh;
}

.slides {
    display: flex;
    width: 100%; 
    height: 100%; 
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 1 0 100%;
    position: relative;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide h1 {
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000; 
    text-align: center;
   
}

#bu {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 40px;
    /* background-color: #d9507e; */
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 101; 
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#text01{
    z-index: 100;
}
#read{
    width: 30%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    background-color: #d9507e;
    color: white;
    text-transform: uppercase;
    padding: 2%;
    cursor: pointer;
}
#ex{
    width: 40%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    background-color: #d9507e;
    color: white;
    text-transform: uppercase;
    padding: 2%;
    cursor: pointer;
}




.toys-collection {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.toys-collecton-text{
    text-align: center;
    font-size: 3em;
    color:#7C00FE;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    border-radius: 8px;
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.price {
    color: #e60023;
    font-size: 1.1em;
    margin: 10px 0;
}

.btn-cart {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-cart:hover {
    background-color: #0056b3;
}

#shop{
    background-color: #FEFAE0;
    padding-top:50px;
}

.btn-load-more{
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more-items{
    background-color: #F9E400;
    
    padding:15px 20px;
    border:none;
    border-radius: 4px;
    margin-bottom:20px;

}

.load-more-items-a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    text-align: center;


}

.load-more-items-a:hover{
color:green;

}






.accordion-container {
    position: fixed;
    /* top:34%; */
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.accordion {
    border-bottom: 1px solid #ddd;
}

.accordion-button {
    background-color: #ff5722;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #ff5709;
}

.arrow {
    float: right;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: white;
}

.accordion-content a {
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 5px 0;
    color:black;
}





/* shop */


#product1 {
    
    text-align: center;
    /* margin-left:260px; */
    margin:15px;
}


.feature-products-text{
    margin-top:30px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
    height: 250px;   
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}








.accordian-container { display: flex;
}
  .filters { width: 25%; padding: 20px; border-right: 1px solid #ddd;
}
  .products { width: 75%; padding: 20px; }
  .accordion { margin-bottom: 20px; }
  .accordion-item { border: 1px solid #ddd; margin-bottom: 10px; }
  .accordion-header { padding: 10px; cursor: pointer; background-color: #f1f1f1; }
  .accordion-body { display: none; padding: 10px; border-top: 1px solid #ddd; }

  .accordion-body a{
    display: block;
    text-decoration: none;
    color:black;
    padding:5px;

  }

  .accordion-item i{
    display: block;
    float:right;
  }







        
        .form-container {

         
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 80%;
            max-width: 600px;
        }
       .form-container h1 {
            text-align: center;
            color: #ff5722;
        }
        .form-container  input[type="text"],
        .form-container input[type="number"],
        .form-container input[type="file"],
        .form-container  textarea,
        .form-container  select {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #dddddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .form-container  input[type="text"]:focus,
        .form-container  input[type="number"]:focus,
        .form-container   textarea:focus,
        .form-container  select:focus {
            border-color: #00008b; /* Dark Blue */
            outline: none;
        }
        .form-container  button {
            background-color: #ff5722;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            display: block;
            width: 97%;
        }
        .form-container  button:hover {
            background-color: #e64a19;
        }
        .form-container input::placeholder,
        .form-container  textarea::placeholder {
            color: #ff5722; /* Placeholder color */
        }

        .form-container input[type="file"]::-webkit-file-upload-button {
    background: #ff5722;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.form-container input[type="file"]::placeholder {
    color: #ff5722;
}




.form-container section{
    display: flex;
    align-items: center;
    justify-content: center;
}





  


