*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}


.teddy-bear-img-header{
    background-image: url('images/teddy_bear_2.avif');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}


.toys-header-container{
    /* background-color: whitesmoke; */
    /* opacity:0.6; */
    display: flex;
    flex-direction: column;
    /* padding-left:50px; */
    position:relative;

}
.white-shade-toy-header{
    background-color: whitesmoke;
    opacity:0.6;
    display: flex;
    padding:15px 20px;
}
.call{
    padding-right:40px;
}
.white-shade-toy-header i{
    color:#e8496f;
    padding-right:10px;

}

.white-shade-toy-header a{
    text-decoration: none;
    color:#524c48;
}

.bg-black-header{
    background-color: black;
    color:white;
    display:flex;
    
    position: relative;
    z-index:1;
    
    /* height: 80px; */
    align-items: center;
    padding:20px 40px;
}
.toy-text-header{
    font-size: 40px;
    font-weight: 300;
    /* line-height: 100px; */
    margin-right: 100px;
}
.search_header{
    margin-left:50px;
    padding:10px 120px;
    border-radius: 20px 0 0 20px;
   align-items: left;
    border:none;
}


.search-btn-header{
    padding:9px 20px;
    background-color: black;
    color:white;
    border:1px solid white;
    margin-right:50px;
}

.love-icon-header,.wishlist-icon-header{
    margin-right:15px;
    padding:8px;
    border:1px solid #e8496f;

}
.love-icon-header,.wishlist-icon-header i{
    color:#e8496f;
}

.nav-btns {
    display:flex;
   
    /* justify-content: center; */
    /* align-items: center; */
    padding:25px 200px;
    background-color: whitesmoke;
    opacity:0.6;
    margin-bottom:150px;
    
    
    
}

.nav-btns ul {
    
 
    list-style-type: none;

   
    
    
    
}

.nav-btns a {
    
    text-decoration: none;   
    color:#524c48;
    text-transform: uppercase;
    padding-left:80px;
    font-size: 16px;
    font-weight: bold;
    
   
    
}


.nav-btns ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

   
    
    
}

.text-bold-header{
    color:white;
    text-align: center;
    font-size: 30px;
    

}



